
-------------------------------------php面向对象-------------------
//类的定义：
class 类名{
  //代码块
}


-----------------------------------访问权限------------------------
//访问权限：
public 公有的，可以在任何位置调用
private 私有的，只能在当前类中调用
protected 受保护的，只能在类的内部调用，无法在实例化中调用


----------------------------------定义属性-------------------------
//属性的定义
访问权限 属性名   

public $name;  //可以在属性定义时候赋值
----------------------------------定义方法-------------------------
//方法的定义
public function myname{
  //代码块
}


------------------------------调用属性和方法-----------------------
//类中调用属性和方法  //类中使用$this关键字，外部可直接调用
调用属性：

$this->name;

调用方法：
$this->func;


------------------------------实例化------------------------------
//实例化
$test=new myclass();  //有构造函数的情况下可以传参
$test->getname();   //调用类中的getname方法


------------------------------继承--------------------------------
//继承
class fa{
  public $name='jack';
  public function getname(){
  echo $this->name;
  }
}
class min extends fa{   //继承fa类的属性和方法
  public function get(){
  parent::getname();    //调用父类fa中的getname方法
  }
}

-----------------------------类中的常量--------------------------
//常量的定义
class me{
  const name='rose';  //定义常量并赋值
}

-----------------------------静态属性----------------------------
//静态属性
class mytest{
  public static $name='jack';   //定义公有的静态属性
  public function get(){
  echo self::name;    //调用本类中的静态属性，使用self::关键字
  }
}
class mt extends mytest{
  public function gets(){
  parent::get();  //子类中调用父类的静态属性
  }
}

----------------------------------------------------------------


